<div id="grafico-wrapper" class="bg-transparent rounded">
  <canvas id="graficoCanvas" class="w-full"></canvas>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctx = document.getElementById('graficoCanvas').getContext('2d');
    window.chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [],
        datasets: [{
          label: 'Preço',
          data: [],
          borderColor: '#FF2CDF',
          backgroundColor: 'rgba(255, 44, 223, 0.1)',
          fill: true,
          tension: 0.3,
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          },
        },
        scales: {
          x: {
            title: { display: true, text: 'Horário', color: '#9CA3AF' },
            ticks: { color: '#9CA3AF', font: { size: 10 } },
            grid: { color: 'rgba(255, 255, 255, 0.1)' }
            
          },
          y: {
            position: 'right',
            // title: { display: true, text: 'Preço (USDT)', color: '#9CA3AF' },
            ticks: { color: '#9CA3AF', font: { size: 10 } },
            grid: { color: 'rgba(255, 255, 255, 0.1)' }
          }
        }
      },
    });
  </script>
</div>

<style>
  #grafico-wrapper {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  #graficoCanvas {
    width: 100% !important;
    height: 60vh !important;
  }