<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="title">
  <title>Suporte - OinkVest</title>
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>

<body>
  <div th:fragment="content" class="p-6">
    <h2 class="text-2xl text-white font-bold mb-2">Suporte</h2>
    <p class="text-sm text-gray-200 mb-6">Entre em contato com nossa equipe de suporte</p>

    <div class="grid sm:grid-cols-1 lg:grid-cols-3 gap-6">
      <!-- FAQ -->
      <div class="col-span-1 md:col-span-1 lg:bg-white/5 lg:p-4 rounded-2xl shadow lg:border border-violet-500/30 overflow-hidden relative">
        <h3 class="font-semibold text-lg mb-3 text-white">FAQ</h3>
        <p class="text-sm text-gray-200 mb-4">Perguntas frequentes</p>

        <div class="mb-4">
          <h2 class="text-sm font-bold text-gray-100">Como faço para sacar meus fundos?</h2>
          <p class="text-sm text-gray-300">Na seção "Carteira", selecione a opção "Saque" e siga as instruções para
            transferir seus fundos.</p>
        </div>

        <div class="mb-4">
          <h2 class="text-sm font-bold text-gray-100">Quais são as taxas da plataforma?</h2>
          <p class="text-sm text-gray-300">Nossa taxa de trading é de 0,1% por operação. Não cobramos taxas para
            depósitos.</p>
        </div>

        <div class="mb-4">
          <h2 class="text-sm font-bold text-gray-100">Como verificar minha conta?</h2>
          <p class="text-sm text-gray-300">Para verificar sua conta, acesse seu perfil e clique em "Verificar Conta".
            Você
            precisará fornecer documentos de identificação válidos.</p>
        </div>

        <div>
          <h2 class="text-sm font-bold text-gray-100">Quanto tempo leva para processar um depósito?</h2>
          <p class="text-sm text-gray-300">Depósitos via USDT geralmente são processados em até 30 minutos, dependendo
            da
            rede utilizada.</p>
        </div>
      </div>
      <!-- Formulário de Contato -->
      <div class="col-span-1 md:col-span-1 lg:bg-white/5 lg:p-4 rounded-2xl shadow lg:border border-violet-500/30 overflow-hidden relative">
        <h3 class="font-semibold text-lg mb-3 text-white">Formulário de Contato</h3>
        <p class="text-sm text-gray-200 mb-4">Preencha o formulário abaixo para entrar em contato</p>
        <form id="contact-form">
          <input type="text" name="name" placeholder="Seu nome completo" class="bg-white/10 text-gray-200 w-full mb-2 px-3 py-2 rounded"
            required />
          <input type="email" name="email" placeholder="seu@email.com" class="bg-white/10 text-gray-200 w-full mb-2 px-3 py-2 rounded"
            required />
          <input type="text" name="subject" placeholder="Assunto da mensagem" class="bg-white/10 text-gray-200 w-full mb-2 px-3 py-2 rounded"
            required />
          <textarea name="message" placeholder="Digite sua mensagem aqui" class="bg-white/10 text-gray-200 w-full mb-2 px-3 py-2 rounded"
            rows="5" required></textarea>
          <button type="submit" class="w-full text-white py-3 rounded-lg font-semibold bg-gradient-to-r 
          from-violet-600 to-indigo-600 hover:opacity-90 transition-opacity">Enviar Mensagem</button>
        </form>
      </div>


      <!-- Informações de Contato -->
      <div class="col-span-1 md:col-span-1 lg:bg-white/5 lg:p-4 rounded-2xl shadow lg:border border-violet-500/30 overflow-hidden relative">
        <h3 class="font-semibold text-lg mb-3 text-white">Contato</h3>
        <p class="text-sm text-gray-200 mb-4">Outras formas de contato</p>

        <div class="mb-3">
          <h2 class="text-sm font-bold text-gray-100">Email</h2><br />
          <a href="mailto:suporte@oinkvest.com" class="text-md text-pink-700 hover:underline">
            suporte@oinkvest.com
          </a>
        </div>

        <div class="mb-3">
          <h2 class="text-sm font-bold text-gray-100">WhatsApp</h2><br />
          <a href="https://wa.me/551112345678" target="_blank" rel="noopener noreferrer"
            class="text-md text-pink-700 hover:underline">
            +55 (11) 1234-5678
          </a>
        </div>
        <div>
          <h2 class="text-sm font-bold text-gray-100">Horário de Atendimento</h2>
          <p class="text-md text-gray-200">Segunda a Sexta, das 9h às 18h</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>